In [4]:
import pickle
import pandas as pd

In [5]:
# !ls

In [6]:
# Baseline
df_baseline = pd.read_csv("../../../data/Merge_all_datasets/combined_regular_clean_with_ssurgo_variables.csv")

# NHD
df_nhd_200m = pd.read_pickle("../../../data/Merge_all_datasets/200mX200m_nhd_variables_extracted_stripped")
df_nhd_1000m = pd.read_pickle("../../../data/Merge_all_datasets/1000mX1000m_nhd_variables_extracted_stripped")
df_nhd_2500m = pd.read_pickle("../../../data/Merge_all_datasets/2.5kmX2.5km_nhd_variables_extracted_stripped")

# NHD - nearest waterbodies and flowlines
df_nearest_wotus = pd.read_pickle("../../../data/Merge_all_datasets/nearest_wb_fl_elevation_parts_merged")

# SSURGO
df_ssurgo = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.19_ssurgo_variables_full")

# NWI
df_nwi_200m = pd.read_pickle("../../../data/Merge_all_datasets/nwi_extracted_features_200X200m")
df_nwi_1000m = pd.read_pickle("../../../data/Merge_all_datasets/nwi_extracted_features_1000X1000m")
df_nwi_2500m = pd.read_pickle("../../../data/Merge_all_datasets/nwi_extracted_features_2500X2500m")

# srtm, slope, jrc
df_srtm_200m = pd.read_pickle("../../../data/Merge_all_datasets/df_srtm_slope_variables_200m")
df_srtm_1000m = pd.read_pickle("../../../data/Merge_all_datasets/df_srtm_slope_variables_1000m")
df_srtm_2500m = pd.read_pickle("../../../data/Merge_all_datasets/df_srtm_slope_variables_2500m")

# county
df_county = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.17_us_county_raw")

# HUC
df_huc4 = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.22_huc4")
df_huc6 = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.22_huc6")

In [7]:
# Baseline
full_columns = list(df_baseline.columns)
delete_columns = ['Unnamed: 0', 'Unnamed: 0.1','index','mukey',
       'hydclprs', 'aws025wta', 'drclassdcd',  'project_name', 'rha_determination', 'Index', 'date_issued_or_denied', 'rha1', 'rha2']

imp_columns = list(set(full_columns) - set(delete_columns))
imp_columns = [col for col in full_columns if (col not in delete_columns)] #list(set(full_columns) - set(delete_columns))
df_baseline = df_baseline[imp_columns]
df_baseline.columns

Index(['jurisdiction_type', 'da_number', 'district', 'longitude', 'latitude',
       'cwa_determination', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6',
       'cwa7', 'cwa8', 'cwa9', 'potential_wetland'],
      dtype='object')

In [8]:
df_ssurgo.columns

Index(['Index', 'mukey', 'longitude', 'latitude', 'mustatus', 'slopegradd',
       'slopegradw', 'brockdepmi', 'wtdepannmi', 'wtdepaprju', 'flodfreqdc',
       'flodfreqma', 'pondfreqpr', 'aws025wta', 'aws050wta', 'aws0100wta',
       'aws0150wta', 'drclassdcd', 'drclasswet', 'hydgrpdcd', 'iccdcd',
       'iccdcdpct', 'niccdcd', 'niccdcdpct', 'engdwobdcd', 'engdwbdcd',
       'engdwbll', 'engdwbml', 'engstafdcd', 'engstafll', 'engstafml',
       'engsldcd', 'engsldcp', 'englrsdcd', 'engcmssdcd', 'engcmssmp',
       'urbrecptdc', 'urbrecptwt', 'forpehrtdc', 'hydclprs', 'awmmfpwwta'],
      dtype='object')

In [9]:
# SSURGO
set(df_ssurgo.columns)

delete_columns = ['Unnamed: 0',
 'Unnamed: 0.1',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district','fl_areasqkm_count_200m',
 'fl_areasqkm_count_2500m',
 'fl_areasqkm_mean_200m',
 'fl_areasqkm_mean_2500m',
 'fl_areasqkm_sum_200m',
 'fl_areasqkm_sum_2500m',
 'fl_comid_list_200m',
 'fl_comid_list_2500m',
 'fl_comid_str_200m',
 'fl_comid_str_2500m',
 'fl_divergence_count_200m',
 'fl_divergence_count_2500m',
 'fl_divergence_mean_200m',
 'fl_divergence_mean_2500m',
 'fl_divergence_sum_200m',
 'fl_divergence_sum_2500m',
 'fl_flow_type_count_200m',
 'fl_flow_type_count_2500m',
 'fl_flow_type_mean_200m',
 'fl_flow_type_mean_2500m',
 'fl_flow_type_sum_200m',
 'fl_flow_type_sum_2500m',
 'fl_ftype_str_200m',
 'fl_ftype_str_2500m',
 'fl_ftype_str_list_200m',
 'fl_ftype_str_list_2500m',
 'fl_gnis_id_list_200m',
 'fl_gnis_id_list_2500m',
 'fl_gnis_id_str_200m',
 'fl_gnis_id_str_2500m',
 'fl_gnis_name_ind_count_200m',
 'fl_gnis_name_ind_count_2500m',
 'fl_gnis_name_ind_mean_200m',
 'fl_gnis_name_ind_mean_2500m',
 'fl_gnis_name_ind_sum_200m',
 'fl_gnis_name_ind_sum_2500m',
 'fl_intephem_count_200m',
 'fl_intephem_count_2500m',
 'fl_intephem_mean_200m',
 'fl_intephem_mean_2500m',
 'fl_intephem_sum_200m',
 'fl_intephem_sum_2500m',
 'fl_length_count_200m',
 'fl_length_count_2500m',
 'fl_length_list_200m',
 'fl_length_list_2500m',
 'fl_length_mean_200m',
 'fl_length_mean_2500m',
 'fl_length_sum_200m',
 'fl_length_sum_2500m',
 'fl_startflag_count_200m',
 'fl_startflag_count_2500m',
 'fl_startflag_mean_200m',
 'fl_startflag_mean_2500m',
 'fl_startflag_sum_200m',
 'fl_startflag_sum_2500m',
 'fl_streamorde_count_200m',
 'fl_streamorde_count_2500m',
 'fl_streamorde_mean_200m',
 'fl_streamorde_mean_2500m',
 'fl_streamorde_sum_200m',
 'fl_streamorde_sum_2500m',
 'fl_totdasqkm_count_200m',
 'fl_totdasqkm_count_2500m',
 'fl_totdasqkm_mean_200m',
 'fl_totdasqkm_mean_2500m',
 'fl_totdasqkm_sum_200m',
 'fl_totdasqkm_sum_2500m','index',
 'jurisdiction_type',
 'latitude',
 'longitude','nhd_vars_fl_200m',
 'nhd_vars_fl_2500m',
 'nhd_vars_wb_200m',
 'nhd_vars_wb_2500m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination','wb_area_count_200m',
 'wb_area_count_2500m',
 'wb_area_list_200m',
 'wb_area_list_2500m',
 'wb_area_mean_200m',
 'wb_area_mean_2500m',
 'wb_area_sum_200m',
 'wb_area_sum_2500m',
 'wb_comid_list_200m',
 'wb_comid_list_2500m',
 'wb_comid_str_200m',
 'wb_comid_str_2500m',
 'wb_ftype_str_200m',
 'wb_ftype_str_2500m',
 'wb_ftype_str_list_200m',
 'wb_ftype_str_list_2500m',
 'wb_gnis_id_list_200m',
 'wb_gnis_id_list_2500m',
 'wb_gnis_id_str_200m',
 'wb_gnis_id_str_2500m',
 'wb_gnis_name_ind_count_200m',
 'wb_gnis_name_ind_count_2500m',
 'wb_gnis_name_ind_mean_200m',
 'wb_gnis_name_ind_mean_2500m',
 'wb_gnis_name_ind_sum_200m',
 'wb_gnis_name_ind_sum_2500m']

full_columns = list(df_ssurgo.columns)
imp_columns = list(set(full_columns) - set(delete_columns))
df_ssurgo = df_ssurgo[imp_columns]
df_ssurgo

,engstafll,wtdepaprju,hydgrpdcd,forpehrtdc,slopegradw,engcmssdcd,slopegradd,engdwbdcd,niccdcdpct,flodfreqma,...,engdwbll,engsldcd,englrsdcd,drclasswet,engdwbml,mustatus,engsldcp,engcmssmp,mukey,awmmfpwwta
0,Not rated,0.0,A/D,Slight,1.0,Poor,1.0,Very limited,80.0,None,...,Not rated,Very limited,Very limited,Very poorly drained,Very limited,NaN,Very limited,Not rated,289404.0,1.0
1,Not rated,0.0,NaN,Not rated,0.0,Not rated,0.0,Not rated,100.0,NaN,...,Not rated,Not rated,Not rated,NaN,Not rated,NaN,Not rated,Not rated,293511.0,0.0
2,Not rated,0.0,NaN,Not rated,0.0,Not rated,0.0,Not rated,100.0,NaN,...,Not rated,Not rated,Not rated,NaN,Not rated,NaN,Not rated,Not rated,295436.0,0.0
3,Not rated,54.0,C/D,Slight,2.0,Fair,2.0,Very limited,75.0,None,...,Not rated,Very limited,Somewhat limited,Moderately well drained,Very limited,NaN,Very limited,Not rated,290780.0,1.0
4,Very limited,0.0,C/D,Slight,1.0,Poor,1.0,Very limited,89.0,None,...,Very limited,Very limited,Very limited,Poorly drained,Very limited,NaN,Very limited,Poor,293019.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14614,Not rated,31.0,D,Slight,2.0,Poor,2.0,Very limited,90.0,None,...,Not rated,Very limited,Very limited,Somewhat poorly drained,Very limited,NaN,Very limited,Not rated,564873.0,1.0
14615,Somewhat limited,0.0,B,Moderate,5.0,Poor,5.0,Not limited,100.0,None,...,Not limited,Somewhat limited,Somewhat limited,Well drained,Not limited,NaN,Somewhat limited,Poor,566474.0,1.0
14616,Very limited,0.0,D,Severe,14.0,Fair,15.0,Very limited,90.0,None,...,Somewhat limited,Very limited,Very limited,Somewhat excessively drained,Very limited,NaN,Very limited,Fair,106656.0,1.0
14617,Not rated,0.0,D,Moderate,4.0,Poor,4.0,Very limited,89.0,None,...,Not rated,Somewhat limited,Very limited,Well drained,Very limited,NaN,Somewhat limited,Not rated,384352.0,1.0
14618,Not rated,0.0,B,Slight,2.0,Poor,2.0,Not limited,90.0,None,...,Not limited,Somewhat limited,Somewhat limited,Well drained,Not rated,NaN,Somewhat limited,Not rated,383437.0,1.0

In [10]:
# NHD
full_columns_200m = list(df_nhd_200m.columns)
full_columns_1000m = list(df_nhd_1000m.columns)
full_columns_2500m = list(df_nhd_2500m.columns)
full_columns
delete_columns_200m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_200m',
       'nhd_vars_fl_200m', 'wb_comid_list_200m', 'wb_ftype_str_list_200m',
       'wb_gnis_id_list_200m', 'wb_area_list_200m', 'fl_comid_list_200m',
       'fl_ftype_str_list_200m', 'fl_gnis_id_list_200m', 'fl_length_list_200m',
                 'wb_comid_str_200m', 'wb_ftype_str_200m', 'wb_gnis_id_str_200m',
                 'fl_comid_str_200m', 'fl_ftype_str_200m',
       'fl_gnis_id_str_200m','fl_ftype_str_vector_200m',
       'wb_ftype_str_vector_200m']

delete_columns_1000m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_1000m',
       'nhd_vars_fl_1000m', 'wb_comid_list_1000m', 'wb_ftype_str_list_1000m',
       'wb_gnis_id_list_1000m', 'wb_area_list_1000m', 'fl_comid_list_1000m',
       'fl_ftype_str_list_1000m', 'fl_gnis_id_list_1000m', 'fl_length_list_1000m',
                 'wb_comid_str_1000m', 'wb_ftype_str_1000m', 'wb_gnis_id_str_1000m',
                 'fl_comid_str_1000m', 'fl_ftype_str_1000m',
       'fl_gnis_id_str_1000m','fl_ftype_str_vector_1000m',
       'wb_ftype_str_vector_1000m']

delete_columns_2500m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_2500m',
       'nhd_vars_fl_2500m', 'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m', 'fl_length_list_2500m',
                 'wb_comid_str_2500m', 'wb_ftype_str_2500m', 'wb_gnis_id_str_2500m',
                 'fl_comid_str_2500m', 'fl_ftype_str_2500m',
       'fl_gnis_id_str_2500m','fl_ftype_str_vector_2500m',
       'wb_ftype_str_vector_2500m']

imp_columns_200m = list(set(full_columns_200m) - set(delete_columns_200m))
imp_columns_1000m = list(set(full_columns_1000m) - set(delete_columns_1000m))
imp_columns_2500m = list(set(full_columns_2500m) - set(delete_columns_2500m))

df_nhd_200m = df_nhd_200m[imp_columns_200m]
df_nhd_1000m = df_nhd_1000m[imp_columns_1000m]
df_nhd_2500m = df_nhd_2500m[imp_columns_2500m]

In [11]:
# NHD nearest waterbodies and flowlines

full_columns = list(df_nearest_wotus.columns)
full_columns
delete_columns = ['Unnamed: 0',
 'Unnamed: 0.1',
 'jurisdiction_type',
 'da_number',
 'district',
 'project_name',
 'longitude',
 'latitude',
 'date_issued_or_denied',
 'rha_determination',
 'cwa_determination',
 'rha1',
 'rha2',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'potential_wetland',
 'index',
 'mukey',
 'hydclprs',
 'aws025wta',
 'drclassdcd',
 'nhd_vars_wb_centroid',
 'nhd_vars_fl_centroid',
 'wb_centroid_dist_list',
 'fl_centroid_dist_list',
 'wb_min_index',
 'fl_min_index', 'closest_wb_centroid_coord', 'closest_fl_centroid_coord']
imp_columns = list(set(full_columns) - set(delete_columns))
df_nearest_wotus = df_nearest_wotus[imp_columns]
df_nearest_wotus

,closest_fl_area_sqkm,closest_fl_distance_m,closest_wb_area_sqkm,closest_wb_distance_m,Index,closest_wb_elevation,closest_fl_elevation
0,0.1170,1.55869,0.006,0.19900,1,434.326797,114.000000
1,1.4841,0.48290,207.005,7.21302,2,112.000000,112.000000
2,1.1124,0.47677,3.329,0.82916,3,413.000000,413.000000
3,13.9392,1.04919,0.004,0.78709,4,187.210526,188.535948
4,0.4644,0.84081,NaN,NaN,5,NaN,98.506494
...,...,...,...,...,...,...,...
14614,0.8316,1.12851,0.135,1.26976,14615,75.573529,73.600000
14615,5.5170,1.04087,NaN,NaN,14616,NaN,302.007194
14616,13.1337,2.45195,0.055,1.36894,14617,174.378571,179.000000
14617,0.7866,0.43727,NaN,NaN,14618,NaN,335.000000
14618,3.6135,0.35953,0.014,1.44951,14619,404.065693,413.036496

In [12]:
# NWI
full_columns_200m = list(df_nwi_200m.columns)
full_columns_1000m = list(df_nwi_1000m.columns)
full_columns_2500m = list(df_nwi_2500m.columns)


delete_columns_200m = ['CLASS_NAME_vector_200m',
 'FIRST_MODIFIER_NAME_vector_200m',
 'SPLIT_CLASS_NAME_vector_200m',
 'SPLIT_SUBCLASS_NAME_vector_200m',
 'SUBCLASS_NAME_vector_200m',
 'SUBSYSTEM_NAME_vector_200m',
 'SYSTEM_NAME_vector_200m',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'WATER_REGIME_NAME_vector_200m',
 'WATER_REGIME_SUBGROUP_vector_200m',
 'aws025wta',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'hydclprs',
 'index',
 'jurisdiction_type',
 'latitude',
 'longitude',
 'mukey','nwi_attr_list_200m',
 'nwi_bbox_vars_200m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination',
 'wetland_type_vector_200m']


delete_columns_1000m = ['CLASS_NAME_vector_1000m',
 'FIRST_MODIFIER_NAME_vector_1000m',
 'SPLIT_CLASS_NAME_vector_1000m',
 'SPLIT_SUBCLASS_NAME_vector_1000m',
 'SUBCLASS_NAME_vector_1000m',
 'SUBSYSTEM_NAME_vector_1000m',
 'SYSTEM_NAME_vector_1000m',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'WATER_REGIME_NAME_vector_1000m',
 'WATER_REGIME_SUBGROUP_vector_1000m',
 'aws025wta',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'hydclprs',
 'index',
 'jurisdiction_type',
 'latitude',
 'longitude',
 'mukey','nwi_attr_list_1000m',
 'nwi_bbox_vars_1000m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination',
 'wetland_type_vector_1000m']


delete_columns_2500m = ['CLASS_NAME_vector_2500m',
 'FIRST_MODIFIER_NAME_vector_2500m',
 'SPLIT_CLASS_NAME_vector_2500m',
 'SPLIT_SUBCLASS_NAME_vector_2500m',
 'SUBCLASS_NAME_vector_2500m',
 'SUBSYSTEM_NAME_vector_2500m',
 'SYSTEM_NAME_vector_2500m',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'WATER_REGIME_NAME_vector_2500m',
 'WATER_REGIME_SUBGROUP_vector_2500m',
 'aws025wta',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'hydclprs',
 'index',
 'jurisdiction_type',
 'latitude',
 'longitude',
 'mukey','nwi_attr_list_2500m',
 'nwi_bbox_vars_2500m','nwi_feature_count_2500m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination',
 'wetland_type_vector_2500m']

imp_columns_200m = list(set(full_columns_200m) - set(delete_columns_200m))
imp_columns_1000m = list(set(full_columns_1000m) - set(delete_columns_1000m))
imp_columns_2500m = list(set(full_columns_2500m) - set(delete_columns_2500m))

df_nwi_200m = df_nwi_200m[imp_columns_200m]
df_nwi_1000m = df_nwi_1000m[imp_columns_1000m]
df_nwi_2500m = df_nwi_2500m[imp_columns_2500m]

In [13]:
# SRTM, JRC

full_columns_200m = list(df_srtm_200m.columns)
full_columns_1000m = list(df_srtm_1000m.columns)
full_columns_2500m = list(df_srtm_2500m.columns)


delete_columns_200m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'elevation_stats_200m',
       'slope_stats_200m', 'seasonality_stats_200m', 'recurrence_stats_200m',
       'transition_hist', ]

delete_columns_1000m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'elevation_stats_1000m',
       'slope_stats_1000m', 'seasonality_stats_1000m', 'recurrence_stats_1000m',
       'transition_hist', ]



df_srtm_2500m.columns
delete_columns_2500m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'elevation_stats_2500m',
       'slope_stats_2500m', 'seasonality_stats_2500m',
       'recurrence_stats_2500m', 'transition_hist', ]

imp_columns_200m = list(set(full_columns_200m) - set(delete_columns_200m))
imp_columns_1000m = list(set(full_columns_1000m) - set(delete_columns_1000m))
imp_columns_2500m = list(set(full_columns_2500m) - set(delete_columns_2500m))

df_srtm_200m = df_srtm_200m[imp_columns_200m]
df_srtm_1000m = df_srtm_1000m[imp_columns_1000m]
df_srtm_2500m = df_srtm_2500m[imp_columns_2500m]

In [14]:
# County, State

full_columns = list(df_county.columns)

delete_columns = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd',]


imp_columns = list(set(full_columns) - set(delete_columns))

df_county = df_county[imp_columns]
df_county.columns

Index(['county', 'state', 'Index'], dtype='object')

In [15]:
# huc
full_columns = list(df_huc6.columns)
imp_columns = ['Index', 'huc6']
df_huc6 = df_huc6[imp_columns]
df_huc6

       Index    huc6
0          1  041402
1          2  041402
2          3  041300
3          4  041201
4          5  041300
...      ...     ...
14614  14615  111102
14615  14616  110100
14616  14617  110701
14617  14618  110500
14618  14619  111203

[14619 rows x 2 columns]

In [16]:
# huc
full_columns = list(df_huc4.columns)
imp_columns = ['Index', 'huc4']
df_huc4 = df_huc4[imp_columns]
df_huc4

       Index  huc4
0          1  0414
1          2  0414
2          3  0413
3          4  0412
4          5  0413
...      ...   ...
14614  14615  1111
14615  14616  1101
14616  14617  1107
14617  14618  1105
14618  14619  1112

[14619 rows x 2 columns]

In [17]:
# full dataset

df1 = df_baseline
df2 = df_ssurgo

df3 = df_srtm_200m
df4 = df_nhd_200m
df5 = df_nwi_200m

df6 = df_srtm_2500m
df7 = df_nhd_2500m
df8 = df_nwi_2500m

df9 = df_county

df10 = df_nearest_wotus

df11 = df_huc4
df12 = df_huc6

df13 = df_srtm_1000m
df14 = df_nhd_1000m
df15 = df_nwi_1000m

df_merged = pd.merge(df1, df2, on="Index")
df_merged = pd.merge(df_merged, df3, on="Index")
df_merged = pd.merge(df_merged, df4, on="Index")
df_merged = pd.merge(df_merged, df5, on="Index")
df_merged = pd.merge(df_merged, df6, on="Index")
df_merged = pd.merge(df_merged, df7, on="Index")
df_merged = pd.merge(df_merged, df8, on="Index")
df_merged = pd.merge(df_merged, df9, on="Index")
df_merged = pd.merge(df_merged, df10, on="Index")
df_merged = pd.merge(df_merged, df11, on="Index")
df_merged = pd.merge(df_merged, df12, on="Index")
df_merged = pd.merge(df_merged, df13, on="Index")
df_merged = pd.merge(df_merged, df14, on="Index")
df_merged = pd.merge(df_merged, df15, on="Index")
pickle.dump(df_merged, open("../../../data/Merge_all_datasets/2021.03.31_full_dataset","wb"), protocol=3)

KeyError: 'Index'

In [ ]:
# 200m and 1000m dataset

df1 = df_baseline
df2 = df_ssurgo

df3 = df_srtm_200m
df4 = df_nhd_200m
df5 = df_nwi_200m

# df6 = df_srtm_2500m
# df7 = df_nhd_2500m
# df8 = df_nwi_2500m

df9 = df_county

df10 = df_nearest_wotus

df11 = df_huc4
df12 = df_huc6

df13 = df_srtm_1000m
df14 = df_nhd_1000m
df15 = df_nwi_1000m

df_merged = pd.merge(df1, df2, on="Index")
df_merged = pd.merge(df_merged, df3, on="Index")
df_merged = pd.merge(df_merged, df4, on="Index")
df_merged = pd.merge(df_merged, df5, on="Index")
# df_merged = pd.merge(df_merged, df6, on="Index")
# df_merged = pd.merge(df_merged, df7, on="Index")
# df_merged = pd.merge(df_merged, df8, on="Index")
df_merged = pd.merge(df_merged, df9, on="Index")
df_merged = pd.merge(df_merged, df10, on="Index")
df_merged = pd.merge(df_merged, df11, on="Index")
df_merged = pd.merge(df_merged, df12, on="Index")
df_merged = pd.merge(df_merged, df13, on="Index")
df_merged = pd.merge(df_merged, df14, on="Index")
df_merged = pd.merge(df_merged, df15, on="Index")
pickle.dump(df_merged, open("../../../data/Merge_all_datasets/2021.03.31_200m_1000m","wb"), protocol=3)

In [ ]:
# 1000m and 2500m dataset

df1 = df_baseline
df2 = df_ssurgo

# df3 = df_srtm_200m
# df4 = df_nhd_200m
# df5 = df_nwi_200m

df6 = df_srtm_2500m
df7 = df_nhd_2500m
df8 = df_nwi_2500m

df9 = df_county

df10 = df_nearest_wotus

df11 = df_huc4
df12 = df_huc6

df13 = df_srtm_1000m
df14 = df_nhd_1000m
df15 = df_nwi_1000m

df_merged = pd.merge(df1, df2, on="Index")
# df_merged = pd.merge(df_merged, df3, on="Index")
# df_merged = pd.merge(df_merged, df4, on="Index")
# df_merged = pd.merge(df_merged, df5, on="Index")
df_merged = pd.merge(df_merged, df6, on="Index")
df_merged = pd.merge(df_merged, df7, on="Index")
df_merged = pd.merge(df_merged, df8, on="Index")
df_merged = pd.merge(df_merged, df9, on="Index")
df_merged = pd.merge(df_merged, df10, on="Index")
df_merged = pd.merge(df_merged, df11, on="Index")
df_merged = pd.merge(df_merged, df12, on="Index")
df_merged = pd.merge(df_merged, df13, on="Index")
df_merged = pd.merge(df_merged, df14, on="Index")
df_merged = pd.merge(df_merged, df15, on="Index")
pickle.dump(df_merged, open("../../../data/Merge_all_datasets/2021.03.31_1000m_2500m","wb"), protocol=3)

In [ ]:
df_merged.shape

# Read file

In [ ]:
# df = pd.read_pickle("2021.03.31_full_dataset")

In [ ]:
set(df.columns)

In [ ]:
import numpy as np
np.sum(df_merged.dtypes == 'int64') #340
np.sum(df_merged.dtypes == 'object') # 10
np.sum(df_merged.dtypes == 'float64') #107

In [ ]:
df.niccdcd

In [ ]:
df.shape

In [ ]:
df.loc[:, ["county", "state"]]

In [ ]:
df.head()

In [ ]:
# set(df.columns)

In [ ]:
df.shape