In [16]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv('combined_regular_clean_with_ssurgo_variables.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa7,cwa8,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,0,0,1,1,1,289404.0,100.0,7.40,Very poorly drained
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,0,0,2,2,293511.0,0.0,0.00,NaN
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,0,0,3,3,295436.0,0.0,0.00,NaN
3,3,3,RAPANOS,LRB-1990-97632,Buffalo,WESTWOOD COUNTRY CLUB,-78.77134,42.97994,06/28/2016,0,...,0,0,0,1,4,4,290780.0,5.0,2.25,Moderately well drained
4,4,4,RAPANOS,LRB-1991-98611,Buffalo,MODERN LANDFILL INCORPORATED,-78.97142,43.21616,03/22/2016,0,...,0,0,0,1,5,5,293019.0,93.0,5.20,Poorly drained

In [8]:
df_gbm = pd.concat([pd.read_csv('lightgbm_dev_predictions.csv'), pd.read_csv('lightgbm_test_predictions.csv')])
df_cnn = pd.concat([pd.read_csv('dev_predictions_cnn_1.csv'), pd.read_csv('test_predictions_cnn_1.csv')])

display(df_gbm)
display(df_cnn)

,Unnamed: 0,da_number,cwa_determination,prediction,predict_proba
0,0,LRB-1983-10120,0,1,0.701913
1,3,LRB-1990-97632,1,1,0.529970
2,7,LRB-1997-9760150,0,1,0.591440
3,18,LRB-2004-01276,0,1,0.521915
4,26,LRB-2007-01594,1,0,0.284792
...,...,...,...,...,...
2143,14184,SWT-2019-00298,1,0,0.241625
2144,14193,SWT-2020-00072,0,0,0.111173
2145,14195,SWT-2020-00090,0,0,0.136888
2146,14196,SWT-2020-00118,0,0,0.139875
2147,14200,SWT-2020-00157,1,0,0.183923

,Unnamed: 0,da_number,predicted,predicted_unround,cwa_determination
0,0,LRL-2018-00430-sjk,0,0.262794,1
1,1,SAW-2016-01660,0,0.342985,1
2,2,SAC-2015-01773,0,0.278464,1
3,3,SAC-2016-01718,0,0.309209,0
4,4,SWG-2017-00231,0,0.279573,0
...,...,...,...,...,...
2142,2142,NAO-2016-01851-rhs,0,0.332536,1
2143,2143,SAW-2019-01125,0,0.300234,0
2144,2144,SAW-2008-00128,0,0.277089,1
2145,2145,LRL-2018-00669-htm,0,0.287838,0
2146,2146,SAC-2018-00185,0,0.283848,0

In [11]:
df_cnn = df_cnn[['da_number', 'cwa_determination', 'predicted', 'predicted_unround']]
df_cnn.columns = ['da_num', 'cwa_det', 'cnn_pred', 'cnn_pred_unround']
df_cnn

                  da_num  cwa_det  cnn_pred  cnn_pred_unround
0     LRL-2018-00430-sjk        1         0          0.262794
1         SAW-2016-01660        1         0          0.342985
2         SAC-2015-01773        1         0          0.278464
3         SAC-2016-01718        0         0          0.309209
4         SWG-2017-00231        0         0          0.279573
...                  ...      ...       ...               ...
2142  NAO-2016-01851-rhs        1         0          0.332536
2143      SAW-2019-01125        0         0          0.300234
2144      SAW-2008-00128        1         0          0.277089
2145  LRL-2018-00669-htm        0         0          0.287838
2146      SAC-2018-00185        0         0          0.283848

[4292 rows x 4 columns]

In [10]:
df_gbm = df_gbm[['da_number', 'cwa_determination', 'prediction', 'predict_proba']]
df_gbm.columns = ['da_num', 'cwa_det', 'gbm_pred', 'gbm_pred_proba']
df_gbm

                da_num  cwa_det  gbm_pred  gbm_pred_proba
0       LRB-1983-10120        0         1        0.701913
1       LRB-1990-97632        1         1        0.529970
2     LRB-1997-9760150        0         1        0.591440
3       LRB-2004-01276        0         1        0.521915
4       LRB-2007-01594        1         0        0.284792
...                ...      ...       ...             ...
2143    SWT-2019-00298        1         0        0.241625
2144    SWT-2020-00072        0         0        0.111173
2145    SWT-2020-00090        0         0        0.136888
2146    SWT-2020-00118        0         0        0.139875
2147    SWT-2020-00157        1         0        0.183923

[4295 rows x 4 columns]

In [12]:
df_preds = pd.merge(df_cnn, df_gbm, on = 'da_num', how = 'outer')
print(df_preds.shape)
df_preds.head()

(4295, 7)

,da_num,cwa_det_x,cnn_pred,cnn_pred_unround,cwa_det_y,gbm_pred,gbm_pred_proba
0,LRL-2018-00430-sjk,1.0,0.0,0.262794,1,0,0.089058
1,SAW-2016-01660,1.0,0.0,0.342985,1,1,0.812632
2,SAC-2015-01773,1.0,0.0,0.278464,1,0,0.267304
3,SAC-2016-01718,0.0,0.0,0.309209,0,0,0.258179
4,SWG-2017-00231,0.0,0.0,0.279573,0,0,0.426524

In [21]:
df_full = pd.merge(df_preds, df, left_on = 'da_num', right_on ='da_number', how='left')
print(df_full.shape)

(4295, 36)

In [33]:
df_full['correct_cnn'] = df_full.cnn_pred == df_full.cwa_det_x
df_full['correct_gbm'] = df_full.gbm_pred == df_full.cwa_det_x
df_full['unique_cnn_correct'] = df_full.apply(lambda x: True if x['correct_cnn'] == True and x['correct_gbm'] == False else False, axis = 1)
df_full['unique_gbm_correct'] = df_full.apply(lambda x: True if x['correct_gbm'] == True and x['correct_cnn'] == False else False, axis = 1)

df_full.head()

,da_num,cwa_det_x,cnn_pred,cnn_pred_unround,cwa_det_y,gbm_pred,gbm_pred_proba,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,cwa_determination,rha1,rha2,cwa1,cwa2,cwa3,cwa4,cwa5,cwa6,cwa7,cwa8,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd,correct_cnn,correct_gbm,unique_cnn_correct,unique_gbm_correct
0,LRL-2018-00430-sjk,1.0,0.0,0.262794,1,0,0.089058,1586,1586,RAPANOS,LRL-2018-00430-sjk,Louisville,"Approved JD - Allegion, Indianapolis",-86.01802,39.81264,07/03/2018,0,1,0,0,0,0,1,0,1,0,0,1,0,1,1587,1587,3104675.0,5.0,5.25,NaN,False,False,False,False
1,SAW-2016-01660,1.0,0.0,0.342985,1,1,0.812632,11556,11556,RAPANOS,SAW-2016-01660,Wilmington,"Owens,Woodrow/Currituck/PreApp",-75.49235,36.05406,09/08/2016,0,1,0,0,0,1,0,0,0,0,0,0,0,0,11557,11557,NaN,NaN,NaN,NaN,False,True,False,True
2,SAC-2015-01773,1.0,0.0,0.278464,1,0,0.267304,8475,8475,RAPANOS,SAC-2015-01773,Charleston,CHRIS DRIVE AND BEASLEY CREEK,-81.10742,33.99772,11/28/2017,0,1,0,0,0,0,1,0,1,0,0,0,0,0,8476,8476,130519.0,100.0,3.75,Very poorly drained,False,False,False,False
3,SAC-2016-01718,0.0,0.0,0.309209,0,0,0.258179,8799,8799,RAPANOS,SAC-2016-01718,Charleston,Simkins Site,-81.84102,33.38536,01/13/2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8800,8800,131776.0,0.0,1.22,Somewhat excessively drained,True,True,False,False
4,SWG-2017-00231,0.0,0.0,0.279573,0,0,0.426524,13581,13581,RAPANOS,SWG-2017-00231,Galveston,Rude/JD/Garners Bayou/Harris County,-95.29152,29.99848,07/26/2017,0,0,0,0,0,0,0,0,0,0,0,0,0,1,13582,13582,367379.0,60.0,4.50,Somewhat poorly drained,True,True,False,False

In [35]:
print(sum(df_full.unique_cnn_correct))
print(sum(df_full.unique_gbm_correct))

models_seperate

321
688

In [44]:
321/df_full.shape[0]

0.07473806752037253

In [43]:
list_of_lists = []
for district, d_df in df_full.groupby('district'):
    
    cnn_unique = sum(d_df.unique_cnn_correct)/ d_df.shape[0]
    gbm_unique = sum(d_df.unique_gbm_correct)/ d_df.shape[0]
    list_of_lists.append([district, cnn_unique, gbm_unique, d_df.shape[0]])
    
df_district = pd.DataFrame(list_of_lists)
df_district.columns = ['district', 'CNN unique correct', 'GBM unique correct', 'Count']
df_district.iloc[19:]

         district  CNN unique correct  GBM unique correct  Count
19    New England            0.363636            0.181818     11
20    New Orleans            0.115512            0.194719    303
21       New York            0.108108            0.540541     37
22        Norfolk            0.169154            0.288557    201
23          Omaha            0.038961            0.058442    154
24   Philadelphia            0.120000            0.120000     25
25     Pittsburgh            0.000000            0.000000     12
26       Portland            0.088235            0.205882     34
27    Rock Island            0.115385            0.346154     26
28     Sacramento            0.025000            0.012500     80
29  San Francisco            0.064516            0.387097     31
30       Savannah            0.021739            0.021739     46
31        Seattle            0.107143            0.142857     28
32       St. Paul            0.017505            0.054705    457
33          Tulsa            0.000000            0.029412     34
34      Vicksburg            0.000000            0.088050    318
35    Walla Walla            0.200000            0.000000      5
36     Wilmington            0.191142            0.487179    429